/* ============ start of button widgets ================ */

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 33.333%;

}

@media( max-width: 1100px ){
    .grid-sizer,
    .grid-item {
        width: 50%;
    }
}

.grid-item {
    float: left;
    margin-bottom: 40px;
}
/*.grid-item .iso-gallery-image{*/
/*background-position: center center;*/
/*background-size: cover;*/
/*width: 100%;*/
/*transform-origin: center top;*/
/*}*/
.grid-item img {
    display: block;
    width: 100%;
}
.isotope-content-container{
    margin: 0 15px;
    position: relative;
}

/*Block run btn effects*/
.hero_img_btn{
    /* padding-top: .5em; */
    /* padding-right: 1.2em; */
    /* padding-bottom: .5em; */
    /* padding-left: 1.2em; */
    transition: 0.22s all !important;
    transition-delay: 0.2s !important;
}

.elementor-button-text text, .elementor-button-icon .fas{
    z-index: 1;
    position: relative;
}

.hero_img_btn:hover{
    transition: 0.31s all !important;
}
.hero_img_btn:focus{
    outline: none;
}

.hero_img_btn{
    position: relative;
    overflow: hidden!important;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);*/
}

.hero_img_btn:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.1); */
    /* transition: 0.2s all; */
}

.hero_img_btn:after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,transparent, rgba(255,255,255,.4), transparent);
    transition: 0.21s all !important;
    transition-delay: 0.25s !important;
}

.hero_img_btn:hover:after{
    left: 100%;
    background:transparent;
}

.hero_img_btn span{
    position: absolute;
    display: block;
    transition: 0.5s ease !important;
}

.hero_img_btn span:nth-child(1){
    top: 0;
    right: 0;
    width: 0;
    height: 2px;
    background: #009f8b;
}

.hero_img_btn:hover span:nth-child(1){
    width: 100%;
    transform: translateX(-93%);
}

.hero_img_btn span:nth-child(3){
    bottom: 0;
    left: 0;
    width: 0px;
    height: 2px;
    background: #009f8b;
}

.hero_img_btn:hover span:nth-child(3){
    width: 100%;
    transform: translateX(93%);
}


.hero_img_btn span:nth-child(2){
    bottom: 0;
    left: 0;
    width: 2px;
    height: 0;
    background: #009f8b;
}

.hero_img_btn:hover span:nth-child(2){
    height: 100%;
    transform: translateY(-70%);
}

.hero_img_btn span:nth-child(4){
    top: 0;
    right: 0;
    width: 2px;
    height: 0;
    background: #009f8b;
}

.hero_img_btn:hover span:nth-child(4){
    height: 100%;
    transform: translateY(70%);
}

/*Corner drop effects*/
.hero_img_btn2{
    /* padding-top: .5em; */
    /* padding-right: 1.2em; */
    /* padding-bottom: .5em; */
    /* padding-left: 1.2em; */
    transition: 0.22s all !important;
    border: 0px;
}

.hero_img_btn2:hover{
    transition: 0.21s all !important;
    transition-delay: 0.21s !important;
}
.hero_img_btn2:focus{
    outline: none;
}

.hero_img_btn2{
    position: relative;
    overflow: hidden!important;
    display: inline-block;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);*/
}

.hero_img_btn2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    /* background: rgba(255, 255, 255, 0.1); */
    /* transition: 0.2s all; */
}

.hero_img_btn2::after{
    content: '';
    position: absolute;
    left: -100%;
    background: linear-gradient(90deg,transparent, rgba(255,255,255,.4), transparent);
    transform: matrix(1, 0.2, 0, 2, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.31s all !important;
    transition-delay: 0.5s !important;
}
.hero_img_btn2:hover::after{
    left: 100%;
    trasition-delay: 0.5s !important;
}


.hero_img_btn2 span{
    position: absolute;
    display: block;
    transition: 0.5s ease !important;
}

.hero_img_btn2 span:nth-child(1){
    top: 0;
    right: 0;
    height: 2px;
    background: #009f8b;
    width: 100%;
    transform: translateX(-85%);
}

.hero_img_btn2:hover span:nth-child(1){
    transform: translateX(0);
}


.hero_img_btn2 span:nth-child(3){
    bottom: 0;
    left: 0;
    height: 2px;
    background: #009f8b;
    width: 100%;
    transform: translateX(85%);
}

.hero_img_btn2:hover span:nth-child(3){
    transform: translateX(0);
}


.hero_img_btn2 span:nth-child(2){
    bottom: 0;
    left: 0;
    width: 2px;
    background: #009f8b;
    height: 100%;
    transform: translateY(-70%);
}

.hero_img_btn2:hover span:nth-child(2){
    transform: translateY(0);
}

.hero_img_btn2 span:nth-child(4){
    top: 0;
    right: 0;
    width: 2px;
    background: #009f8b;
    height: 100%;
    transform: translateY(70%);
}

.hero_img_btn2:hover span:nth-child(4){
    transform: translateY(0);
}

/*Border control effects*/
.hero_img_btn3{
    transition: 0.22s all !important;
    z-index: 2;
}

.hero_img_btn3:hover{
    transition: 0.21s all !important;
    /*transition-delay: 0.21s !important;*/
}
.hero_img_btn3:focus{
    outline: none;
}

.hero_img_btn3{
    position: relative;
    overflow: hidden!important;
    display: inline-block;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);*/
}

.hero_img_btn3::before{
    content: '';
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    transition: 0.31s all;
    transition-delay: 0.21s;

}
.hero_img_btn3:hover::before{
    left: 0;
    background: rgba(222, 222, 222, 0.32);
    /* background: rgba(255, 255, 255, 0.1); */
    /* transition: 0.2s all; */
    transform: translateX(100%);

}

.hero_img_btn3::after{
    content: '';
    position: absolute;
    left: -100%;
    background: linear-gradient(90deg,transparent, rgba(255,255,255,.4), transparent);
    transform: matrix(1, 0.2, 0, 2, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    transition: 0.31s all !important;
    transition-delay: 0.5s !important;
}
.hero_img_btn3:hover::after{
    left: 100%;
    trasition-delay: 0.5s !important;
}


.hero_img_btn3 span{
    position: absolute;
    display: block;
    transition: 0.5s ease !important;
    transition: 0.41s all !important;
}

.hero_img_btn3 span:nth-child(1){
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #009f8b;
    width: 100%;
    transform: translateX(-100%);
    z-index: 0;
}

.hero_img_btn3:hover span:nth-child(1){
    transform: translateX(0);
}


.hero_img_btn3 span:nth-child(3){

}

.hero_img_btn3:hover span:nth-child(3){

}


.hero_img_btn3 span:nth-child(2){

}

.hero_img_btn3:hover span:nth-child(2){

}

.hero_img_btn3 span:nth-child(4){

}

.hero_img_btn3:hover span:nth-child(4){

}


/* ================ end of button widget ======================== */